body{
    background: #ffe4c485;
}

.back{
    margin-top: 10px;
    text-decoration: none;
    font-size: 40px;
}

.person{
    text-align: center;
    
}

.person img{
    width: 400px;
    border-radius: 20%;
    border: 5px solid rgba(4, 77, 4, 0.441);
    margin-bottom: 15px;
    opacity: 0.2;
}

.about-name{
    font-size: 28px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(10, 10, 109);
    cursor: pointer;
}

.about-details{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(4, 72, 4);
    opacity: 0.2;
}
.about-details.open, .person img.open{
    opacity: 1;
}



@media(max-width:650px){
    .person img{
        width: 95%;
        
    }

}